openapi: 3.2.0
info:
  title: Redfin Stingray Market Trends API
  description: The Redfin Stingray API is the internal REST API that powers the Redfin website and mobile applications. It provides endpoints for property search, listing details, home value estimates (Redfin Estimates), neighborhood statistics, commute information, and GIS-based map data. The API supports searching by region, price range, property type, and various filters, returning structured JSON responses with property details including address, price, beds, baths, square footage, lot size, and days on market. While not officially documented by Redfin, this API has been reverse-engineered by the developer community and is accessible at redfin.com/stingray endpoints.
  version: 1.0.0
  contact:
    name: Redfin
    url: https://www.redfin.com
  termsOfService: https://www.redfin.com/about/terms-of-use
servers:
- url: https://www.redfin.com/stingray
  description: Redfin Stingray Production Server
tags:
- name: Market Trends
  description: Endpoints for regional aggregate and historical market trends.
paths:
  /api/region/{regionType}/{regionId}/{code}/trends:
    get:
      operationId: getRegionTrends
      summary: Get regional market trends
      description: Retrieves market trend data for a specific region, including median sale prices, homes sold, new listings, and days on market over time.
      tags:
      - Market Trends
      parameters:
      - name: regionType
        in: path
        required: true
        description: The type of region (e.g., neighborhood, zipcode, city, county).
        schema:
          type: string
      - name: regionId
        in: path
        required: true
        description: The unique identifier for the region.
        schema:
          type: integer
      - name: code
        in: path
        required: true
        description: The region code.
        schema:
          type: string
      responses:
        '200':
          description: Regional market trend data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionTrendsResponse'
  /api/region/{regionType}/{regionId}/{code}/aggregate-trends:
    get:
      operationId: getRegionAggregateTrends
      summary: Get aggregated regional market trends
      description: Retrieves aggregated market trend data for a specific region, providing summarized statistics and trend indicators over configurable time periods.
      tags:
      - Market Trends
      parameters:
      - name: regionType
        in: path
        required: true
        description: The type of region (e.g., neighborhood, zipcode, city, county).
        schema:
          type: string
      - name: regionId
        in: path
        required: true
        description: The unique identifier for the region.
        schema:
          type: integer
      - name: code
        in: path
        required: true
        description: The region code.
        schema:
          type: string
      responses:
        '200':
          description: Aggregated regional market trend data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionAggregateTrendsResponse'
components:
  schemas:
    RegionTrendsResponse:
      type: object
      description: Response containing market trend data for a region.
      properties:
        resultCode:
          type: integer
          description: API result code indicating success or failure.
        payload:
          type: object
          description: Response payload with trend data.
    RegionAggregateTrendsResponse:
      type: object
      description: Response containing aggregated market trend data for a region.
      properties:
        resultCode:
          type: integer
          description: API result code indicating success or failure.
        payload:
          type: object
          description: Response payload with aggregated trend data.
externalDocs:
  description: Reverse-Engineered API Documentation
  url: https://github.com/alientechsw/RedfinPlus/blob/master/docs/REDFIN.md
