openapi: 3.2.0
info:
  title: Redfin Stingray Property Details API
  description: The Redfin Stingray API is the internal REST API that powers the Redfin website and mobile applications. It provides endpoints for property search, listing details, home value estimates (Redfin Estimates), neighborhood statistics, commute information, and GIS-based map data. The API supports searching by region, price range, property type, and various filters, returning structured JSON responses with property details including address, price, beds, baths, square footage, lot size, and days on market. While not officially documented by Redfin, this API has been reverse-engineered by the developer community and is accessible at redfin.com/stingray endpoints.
  version: 1.0.0
  contact:
    name: Redfin
    url: https://www.redfin.com
  termsOfService: https://www.redfin.com/about/terms-of-use
servers:
- url: https://www.redfin.com/stingray
  description: Redfin Stingray Production Server
tags:
- name: Property Details
  description: Endpoints for retrieving detailed information about a specific property.
paths:
  /api/home/details/initialInfo:
    get:
      operationId: getInitialInfo
      summary: Get initial property information
      description: Retrieves the initial information for a property, including the propertyId and listingId needed for subsequent detail requests. Takes a property URL path as input and returns identifiers and basic property metadata.
      tags:
      - Property Details
      parameters:
      - name: path
        in: query
        required: true
        description: The URL path of the property listing page on Redfin, such as /CA/San-Francisco/123-Main-St-94105/home/12345678.
        schema:
          type: string
      responses:
        '200':
          description: Initial property information with identifiers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitialInfoResponse'
  /api/home/details/aboveTheFold:
    get:
      operationId: getAboveTheFold
      summary: Get above-the-fold property details
      description: Retrieves the primary property details displayed above the fold on the listing page, including price, address, photos, key facts, and listing status information.
      tags:
      - Property Details
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/listingId'
      - $ref: '#/components/parameters/accessLevel'
      responses:
        '200':
          description: Above-the-fold property details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AboveTheFoldResponse'
  /api/home/details/belowTheFold:
    get:
      operationId: getBelowTheFold
      summary: Get below-the-fold property details
      description: Retrieves detailed MLS data for a property, including property history, tax information, schools, similar homes, and extended property characteristics. This endpoint provides the most comprehensive data for a single property listing. Note that propertyHistoryInfo may not always be available.
      tags:
      - Property Details
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/listingId'
      - $ref: '#/components/parameters/accessLevel'
      responses:
        '200':
          description: Below-the-fold property details with MLS data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BelowTheFoldResponse'
  /api/home/details/mainHouseInfoPanelInfo:
    get:
      operationId: getMainHouseInfoPanelInfo
      summary: Get main house info panel data
      description: Retrieves the structured property information typically shown in the main info panel, including beds, baths, square footage, lot size, year built, property type, and other key property attributes.
      tags:
      - Property Details
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/listingId'
      - $ref: '#/components/parameters/accessLevel'
      responses:
        '200':
          description: Main house information panel data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MainHouseInfoPanelResponse'
components:
  schemas:
    Address:
      type: object
      description: Property address information.
      properties:
        streetAddress:
          type: string
          description: Street address of the property.
        city:
          type: string
          description: City name.
        state:
          type: string
          description: Two-letter state abbreviation.
        zip:
          type: string
          description: ZIP code.
    BelowTheFoldResponse:
      type: object
      description: Response containing detailed MLS data and extended property information.
      properties:
        resultCode:
          type: integer
          description: API result code indicating success or failure.
        payload:
          type: object
          description: Response payload containing MLS and extended property data.
          properties:
            propertyHistoryInfo:
              type: object
              description: Property history events including sales, price changes, and listing status changes. May not always be available.
              properties:
                events:
                  type: array
                  description: List of historical property events.
                  items:
                    $ref: '#/components/schemas/PropertyHistoryEvent'
            publicRecordsInfo:
              type: object
              description: Public records data for the property.
            schoolsInfo:
              type: object
              description: Nearby schools information.
            similarHomesInfo:
              type: object
              description: Similar properties in the area.
    MainHouseInfoPanelResponse:
      type: object
      description: Response containing main house info panel data.
      properties:
        resultCode:
          type: integer
          description: API result code indicating success or failure.
        payload:
          type: object
          description: Response payload with structured property attributes.
    InitialInfoResponse:
      type: object
      description: Response from the initial info endpoint providing property identifiers.
      properties:
        resultCode:
          type: integer
          description: API result code indicating success or failure.
        payload:
          type: object
          description: Response payload containing property identifiers.
          properties:
            propertyId:
              type: integer
              description: Unique Redfin property identifier.
            listingId:
              type: integer
              description: Unique Redfin listing identifier.
    AboveTheFoldResponse:
      type: object
      description: Response containing primary property details shown above the fold.
      properties:
        resultCode:
          type: integer
          description: API result code indicating success or failure.
        payload:
          type: object
          description: Response payload containing property details.
          properties:
            addressInfo:
              $ref: '#/components/schemas/Address'
            price:
              type: number
              description: Current listing or sale price.
            listingStatus:
              type: string
              description: Current listing status.
            beds:
              type: integer
              description: Number of bedrooms.
            baths:
              type: number
              description: Number of bathrooms.
            sqFt:
              type: integer
              description: Approximate living area in square feet.
    PropertyHistoryEvent:
      type: object
      description: A historical event in a property's listing or sale history.
      properties:
        eventDate:
          type: string
          description: Date of the event.
        eventType:
          type: string
          description: Type of event (e.g., Listed, Sold, PriceChange).
        price:
          type: number
          description: Price associated with the event.
        source:
          type: string
          description: Data source for the event record.
  parameters:
    accessLevel:
      name: accessLevel
      in: query
      description: The access level for the request, controlling the detail of data returned. Common value is 1.
      schema:
        type: integer
        default: 1
    propertyId:
      name: propertyId
      in: query
      required: true
      description: The unique Redfin property identifier.
      schema:
        type: integer
    listingId:
      name: listingId
      in: query
      description: The unique Redfin listing identifier.
      schema:
        type: integer
externalDocs:
  description: Reverse-Engineered API Documentation
  url: https://github.com/alientechsw/RedfinPlus/blob/master/docs/REDFIN.md
