openapi: 3.2.0
info:
  title: Redfin Stingray Neighborhood API
  description: The Redfin Stingray API is the internal REST API that powers the Redfin website and mobile applications. It provides endpoints for property search, listing details, home value estimates (Redfin Estimates), neighborhood statistics, commute information, and GIS-based map data. The API supports searching by region, price range, property type, and various filters, returning structured JSON responses with property details including address, price, beds, baths, square footage, lot size, and days on market. While not officially documented by Redfin, this API has been reverse-engineered by the developer community and is accessible at redfin.com/stingray endpoints.
  version: 1.0.0
  contact:
    name: Redfin
    url: https://www.redfin.com
  termsOfService: https://www.redfin.com/about/terms-of-use
servers:
- url: https://www.redfin.com/stingray
  description: Redfin Stingray Production Server
tags:
- name: Neighborhood
  description: Endpoints for neighborhood statistics, commute data, and area info.
paths:
  /api/home/details/neighborhoodStats/statsInfo:
    get:
      operationId: getNeighborhoodStats
      summary: Get neighborhood statistics
      description: Retrieves statistical data about the neighborhood surrounding a property, including demographics, walkability, transit scores, school ratings, and nearby amenities information.
      tags:
      - Neighborhood
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/listingId'
      - $ref: '#/components/parameters/accessLevel'
      responses:
        '200':
          description: Neighborhood statistics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NeighborhoodStatsResponse'
  /api/home/details/commute/commuteInfo:
    get:
      operationId: getCommuteInfo
      summary: Get commute information
      description: Retrieves commute time and transportation information for a property, including estimated drive, transit, bike, and walk times to common destinations.
      tags:
      - Neighborhood
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/accessLevel'
      responses:
        '200':
          description: Commute information data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommuteInfoResponse'
components:
  parameters:
    accessLevel:
      name: accessLevel
      in: query
      description: The access level for the request, controlling the detail of data returned. Common value is 1.
      schema:
        type: integer
        default: 1
    propertyId:
      name: propertyId
      in: query
      required: true
      description: The unique Redfin property identifier.
      schema:
        type: integer
    listingId:
      name: listingId
      in: query
      description: The unique Redfin listing identifier.
      schema:
        type: integer
  schemas:
    CommuteInfoResponse:
      type: object
      description: Response containing commute and transportation information.
      properties:
        resultCode:
          type: integer
          description: API result code indicating success or failure.
        payload:
          type: object
          description: Response payload with commute time estimates.
    NeighborhoodStatsResponse:
      type: object
      description: Response containing neighborhood statistical data.
      properties:
        resultCode:
          type: integer
          description: API result code indicating success or failure.
        payload:
          type: object
          description: Response payload with neighborhood statistics.
externalDocs:
  description: Reverse-Engineered API Documentation
  url: https://github.com/alientechsw/RedfinPlus/blob/master/docs/REDFIN.md
