openapi: 3.2.0
info:
  title: Redfin Stingray Valuation API
  description: The Redfin Stingray API is the internal REST API that powers the Redfin website and mobile applications. It provides endpoints for property search, listing details, home value estimates (Redfin Estimates), neighborhood statistics, commute information, and GIS-based map data. The API supports searching by region, price range, property type, and various filters, returning structured JSON responses with property details including address, price, beds, baths, square footage, lot size, and days on market. While not officially documented by Redfin, this API has been reverse-engineered by the developer community and is accessible at redfin.com/stingray endpoints.
  version: 1.0.0
  contact:
    name: Redfin
    url: https://www.redfin.com
  termsOfService: https://www.redfin.com/about/terms-of-use
servers:
- url: https://www.redfin.com/stingray
  description: Redfin Stingray Production Server
tags:
- name: Valuation
  description: Endpoints for automated valuation model (AVM) data and estimates.
paths:
  /api/home/details/avmHistoricalData:
    get:
      operationId: getAvmHistoricalData
      summary: Get AVM historical valuation data
      description: Retrieves historical automated valuation model (AVM) data for a property, including Redfin Estimate history over time. Returns time-series data showing estimated property values at various points in history.
      tags:
      - Valuation
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/accessLevel'
      - name: type
        in: query
        description: The type of AVM data to retrieve, such as estimate type or valuation model variant.
        schema:
          type: string
      responses:
        '200':
          description: Historical AVM valuation data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvmHistoricalDataResponse'
components:
  parameters:
    accessLevel:
      name: accessLevel
      in: query
      description: The access level for the request, controlling the detail of data returned. Common value is 1.
      schema:
        type: integer
        default: 1
    propertyId:
      name: propertyId
      in: query
      required: true
      description: The unique Redfin property identifier.
      schema:
        type: integer
  schemas:
    AvmHistoricalDataResponse:
      type: object
      description: Response containing historical AVM (Automated Valuation Model) data.
      properties:
        resultCode:
          type: integer
          description: API result code indicating success or failure.
        payload:
          type: object
          description: Response payload containing historical valuation data.
          properties:
            dataPoints:
              type: array
              description: Time-series valuation data points.
              items:
                type: object
                properties:
                  timestamp:
                    type: integer
                    description: Unix timestamp for the data point.
                  value:
                    type: number
                    description: Estimated property value at this point in time.
externalDocs:
  description: Reverse-Engineered API Documentation
  url: https://github.com/alientechsw/RedfinPlus/blob/master/docs/REDFIN.md
